<!DOCTYPE html>
{% load staticfiles %}

<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<title>
			SF -
			{% block title_block %}
				Scrim Finder App
			{% endblock %}
		</title>
	</head>
	<body>
				<nav class="navbar navbar-default">
				  <div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
					  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					  </button>
					  <a class="navbar-brand" href="{% url 'index' %}">Home</a>
					</div>
					<div class="navbar-header">
					  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					  </button>
					  <a class="navbar-brand" href="{% url 'teamList' %}">Team List</a>
					</div>
					<div class="navbar-header">
					  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					  </button>
					  <a class="navbar-brand" href="{% url 'gameList' %}">Games</a>
					</div>
					{% if user.is_authenticated %}
					<div class="navbar-header">
					  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					  </button>
					  <a class="navbar-brand" href="{% url 'myMatches' %}">My Matches</a>
					</div>
					<div class="navbar-header">
					  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					  </button>
					  <a class="navbar-brand" href="{% url 'myTeams' %}">My Teams</a>
					</div>
					<div class="navbar-header">
					  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					  </button>
					  <a class="navbar-brand" href="{% url 'logout' %}">Logout</a>
					</div>
					{% else %}
					<div class="navbar-header">
					  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					  </button>
					  <a class="navbar-brand" href="{% url 'login' %}">Sign In</a>
					</div>
					<div class="navbar-header">
					  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					  </button>
					  <a class="navbar-brand" href="{% url 'register' %}">Sign Up</a>
					</div>
					{% endif %}
				  </div>
				</nav>
		<div>
			{% block body_block %}
			{% endblock %}
		</div>
	</body>
</html>