<!DOCTYPE html>
{% load staticfiles %}

<html>
	<head>
		<title>
			SF -
			{% block title_block %}
				Scrim Finder App
			{% endblock %}
		</title>
	</head>
	<body>
		<div class="navbar">
			{% block navbar_block %}
				<ul>
				  <li><a href="{% url 'index' %}">Home</a></li>
				  <li><a href="{% url 'myMatches' %}">Matches</a></li>
				  <li><a href="{% url 'myTeams' %}">Teams</a></li>
				  <li><a href="{% url 'myGames' %}">Games</a></li>
				</ul>
			{% endblock %}
		</div>
		<div>
			{% block body_block %}
			{% endblock %}
		</div>
	</body>
</html>