{% extends 'scrim_finder/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Create a Match
{% endblock %}

{% block body_block %}
	<h1>Edit Match</h1>
	
		<form id="MatchForm" method="post" action="{% url 'editMatch' %}"
			enctype="multipart/form-data">

		{% csrf_token %}

		
		{{ form.as_p }}
		Team: <select name="joiningTeam">
		{% for team in teams %}
		 <option value={{ team.title }} >{{ team.title }}</option>
		{% endfor %}
		</select>
		
		
		<input type="submit" name="submit" value="Save Changes" />
	</form>
{% endblock %}