{% extends 'scrim_finder/base.html' %}

{% block title_block %}
	Home
{% endblock %}

{% block body_block %}
<div class="col-sm-6 col-md-6">
<h2>About</h2>
<p>Bacon ipsum dolor amet alcatra ham landjaeger salami bacon turducken picanha drumstick.
Bacon venison kevin pork loin prosciutto. Picanha strip steak sausage brisket shoulder.
Turducken ham hock shankle ribeye, short loin boudin pastrami tri-tip. T-bone prosciutto
fatback capicola tenderloin pork chop biltong turkey spare ribs leberkas cow.  Tongue rump
flank ham, landjaeger biltong hamburger tri-tip capicola chicken burgdoggen pastrami pork chop.
Ball tip corned beef pig sausage frankfurter short loin shankle pork loin bresaola picanha.
Pastrami kielbasa kevin chuck. Biltong spare ribs bacon bresaola. Chicken salami doner boudin tail
brisket cow tri-tip.  Filet mignon tongue turducken flank ham tail kevin. Brisket pancetta corned
beef cow leberkas pastrami drumstick tri-tip. Bresaola tenderloin fatback boudin tail, short loin
rump pancetta short ribs. Chicken shank hamburger drumstick shankle prosciutto burgdoggen. Ball tip
beef ribs ham hock sirloin. Tail jowl bresaola porchetta, landjaeger prosciutto shank flank corned
beef chuck filet mignon alcatra ham landjaeger salami bacon turducken picanha drumstick.
Bacon venison kevin pork loin prosciutto. Picanha strip steak sausage brisket shoulder.
Turducken ham hock shankle ribeye, short loin boudin pastrami tri-tip. T-bone prosciutto
fatback capicola tenderloin pork chop biltong turkey spare ribs leberkas cow.  Tongue rump
flank ham, landjaeger biltong hamburger tri-tip capicola chicken burgdoggen pastrami pork chop.
Ball tip corned beef pig sausage frankfurter short loin shankle pork loin bresaola picanha.
</div>

<div class="col-sm-6 col-md-6">
<h2>Teams</h2>



	<div id="teams" class="carousel slide" data-ride="carousel" height="100px">

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner" role="listbox">

	  	<div class="item active">
		  <img src="{{ STATIC_URL }}scrim_finder/slider_pages/teams.png" alt="" height="100px">
		  <div class="carousel-caption">
			Featured Teams
		  </div>
		</div>

	  {% for currentTeam in teams %}

		<div class="item" height="100px">
		  <img src="{{ MEDIA_URL }}{{ currentTeam.image }}" alt="" height="100px">
		  <div class="carousel-caption">
			{{ currentTeam.title }}
		  </div>
		</div>

	  {% endfor %}

	  </div>

	  <!-- Controls -->
	  <a class="left carousel-control" href="#teams" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#teams" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	  </a>
	</div>



</div>

<div class="col-sm-6 col-md-6">
<h2>Current Matches</h2>

	<div id="matches" class="carousel slide" data-ride="carousel">

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner" role="listbox">

	  	<div class="item active">
		  <img src="{{ STATIC_DIR }}/static/scrim_finder/slider_pages/matches.png" alt="" height="100px">
		  <div class="carousel-caption">
			Today's Matches
		  </div>
		</div>

	  {% for currentMatch in matches %}

		<div class="item">
		  <img src="https://i.ytimg.com/vi/Jkom5Ajo0iQ/hqdefault.jpg" alt="" height="100px">
		  <div class="carousel-caption">
			{{ currentMatch.matchID }}
		  </div>
		</div>

	  {% endfor %}

	  </div>

	  <!-- Controls -->
	  <a class="left carousel-control" href="#matches" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#matches" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	  </a>
	</div>


</div>

<div class="col-sm-6 col-md-6">
<h2>Games</h2>


	<div id="games" class="carousel slide" data-ride="carousel">

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner" role="listbox">

	  	<div class="item active">
		  <img src="{{ STATIC_DIR }}/static/scrim_finder/slider_pages/games.png" height="100px" alt="">
		  <div class="carousel-caption">
			Featured Games
		  </div>
		</div>

	  {% for currentGame in games %}

		<div class="item">
		  <img src="{{ MEDIA_URL }}{{ currentGame.icon }}" height="100px" alt="">
		  <div class="carousel-caption">
			{{ currentGame.game }}
		  </div>
		</div>

	  {% endfor %}

	  </div>

	  <!-- Controls -->
	  <a class="left carousel-control" href="#games" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#games" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	  </a>
	</div>



</div>


{% endblock %}