{% extends 'scrim_finder/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Join Match
{% endblock %}

{% block body_block %}
<h1>Login to Rango</h1>
<form id="join_team_form" method="post" action="{% url 'joinMatch' match.matchID %}">
	{% csrf_token %}
	{% if locked %}
		Password: <input type="text" name="password" value="" size="50" />
		<br />
	{% endif %}
	Team: <select name="joiningTeam">
	{% for team in teams %}
	 <option value={{ team.slug }} >{{ team.title }}</option>
	{% endfor %}
	</select>
	<input type="submit" value="submit" />
</form>
{% endblock %}