{% extends 'scrim_finder/base.html' %}
{% block title_block %}
	Match - {{ match.matchID }}
{% endblock %}

{% block body_block %}
	<h1>Match ID: {{ match.matchID }} </h1>
	{% for  team in teams %}
		<img src="{{ MEDIA_URL }}{{ team.image }}" alt="Team Logo" height="500" width="500">
	{% endfor %}
	<h2>Date: {{ match.date }}</h2>
	<h2>Teams Playing:</h2>
	<ul>
	{% for  team in teams %}
		<li><a href="{% url 'team' team.slug %}"><img src="{{ MEDIA_URL }}{{ team.image }}" alt="Team Logo" height="50" width="50">{{ team.title }}</a></li>
	{% endfor %}
	</ul>
	{% if notInMatch and user.is_authenticated and not match.full %}
		<a href="{% url 'joinMatch' match.matchID %}">Join Match</a>
	{% endif %}
	{% if not notInMatch %}
		<a href="{% url 'editMatch' match.matchID %}">Edit Match</a>
	{% endif %}
{% endblock %}