{% extends 'scrim_finder/base.html' %}
{% block title_block %}
	Team - {{ team.title }}
{% endblock %}

{% block body_block %}
	<h1>Team Name: {{ team.title }} </h1>
	<img src="{{ MEDIA_URL }}{{ team.image }}" alt="Team Logo" height="500" width="500">
	<h2>Players:</h2>
	<ul>
	{% for  player in players %}
		<li><a href="{% url 'profile' player.user.username %}"><img src="{{ MEDIA_URL }}{{ player.picture }}" alt="Profile Pic" height="50" width="50">{{ player.user.username }}</a></li>
	{% endfor %}
	</ul>
	{% if notInTeam and user.is_authenticated and not team.full %}
		<a href="{% url 'joinTeam' team.slug %}">Join Team</a>
	{% endif %}
	{% if not notInTeam %}
		<a href="{% url 'editTeam' team.slug %}">Edit Team</a>
	{% endif %}
{% endblock %}