@import url("https://fonts.googleapis.com/css?family=Droid+Sans");
.navbar {
	background-color: darkred;
}

.navbar a {
	float: top;
	display: block;
	color: white;
	text-align: center;
	font-family: 'Droid Sans';
	font-size: 18pt;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkred;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}