body {
    background-color: #e6f5ff;
}
.navbar {
    background-color: #99d6ff;
}

ul {
    list-style-type: none;
}

div #item {
    height:100;
}

h4.footer{
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
}